<three-orbit-controls [rotateSpeed]=1 [zoomSpeed]=1.2 [listeningControlElement]=mainRenderer.renderPane>
    <three-webgl-renderer #mainRenderer>
  
      <three-perspective-camera [fov]=60 [near]=0.5 [far]=1100 positionX=5 positionY=7 positionZ=17></three-perspective-camera>
  
      <three-scene>
        <!--<three-axes-helper size=200></three-axes-helper> -->
        <three-grid-helper size=100 divisions=10></three-grid-helper>
  
        <three-point-light color="white" intensity="1" distance="10000" translateX=100 translateY=100 translateZ=200></three-point-light>
        <three-point-light color="white" intensity="1" distance="10000" translateX=-200 translateY=200 translateZ=100></three-point-light> 
        
        <three-obj-loader 
          model="assets/model/SampleArchitecture/SampleArchitecture.obj" 
          material='assets/model/SampleArchitecture/SampleArchitecture.mtl' 
          texturePath="assets/model/SampleArchitecture/"  
          [renderer]=mainRenderer>
        </three-obj-loader>
  
      </three-scene>
    </three-webgl-renderer>
  </three-orbit-controls>